Install All the modules mentioned below 

pip install opencv-python
pip install opencv-contrib-python
pip install tkinter
pip install numpy
pip install pandas
pip install pillow 
pip install pyttsx3
pip install pyautogui
pip install datetime
pip install pytest-shutil
pip install python-csv
pip install times
